# Project: Wrangling and Analyze Data

## Data Gathering
In the cell below, gather **all** three pieces of data for this project and load them in the notebook. **Note:** the methods required to gather each data are different.
1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [75]:
import pandas as pd 
import numpy as np 
import requests
import tweepy
from timeit import default_timer as timer
import json

In [84]:
archive_enhanced = pd.read_csv('twitter-archive-enhanced.csv')

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [80]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
print(response)
with open ("img-pred.tsv", 'w') as file:
    file.write(response.text)

<Response [200]>

In [81]:
#reading the tsv content received from the above url 
img_pred = pd.read_csv('img-pred.tsv', sep = '\t')

In [ ]:
#########################

In [ ]:
tweet_id = archive_enhanced['tweet_id']

In [30]:
archive_enhanced.tweet_id.values

array([892420643555336193, 892177421306343426, 891815181378084864, ...,
       666033412701032449, 666029285002620928, 666020888022790149])

In [21]:
type(tweet_id)

pandas.core.series.Series

In [22]:
r= requests.get(url)

In [23]:


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [24]:
#testing api pull for one tweet
start = timer()
tweet = api.get_status(892420643555336193)
tweet
end = timer()
time = end - start

In [25]:
time

0.26780604099985794

In [26]:
type(tweet)

tweepy.models.Status

In [27]:
j = json.dumps(tweet._json)

In [28]:
with open('tweet.txt', 'w') as file:
    tweet_data =json.dump(tweet._json, file)
    file.close()

In [29]:
#poulling data for all the tweet ids from enhanced csv
count = 0
fails_dict = {}
fai =[]
fail_count = 0
start =timer()
with open('tweet.txt', 'w') as file:
    for x in tweet_id:
        count = +1
        try:  
            tweet = api.get_status(x)
            tweet_data = json.dump(tweet._json, file)
            file.write('\n')
        except:
            print("Fail")
            fail_count = +1
            fai = x
            
    file.close()
end = timer()
print(end-start)
print(fail_count)

Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail

Rate limit reached. Sleeping for: 645

Fail
Fail

Rate limit reached. Sleeping for: 697

1877.0866457499997
1

In [4]:
data = pd.read_csv('tweet.txt', sep = " ", header = None, error_bad_lines =False)
data

b'Skipping line 14: expected 257 fields, saw 305\nSkipping line 19: expected 257 fields, saw 401\nSkipping line 22: expected 257 fields, saw 283\nSkipping line 23: expected 257 fields, saw 305\nSkipping line 24: expected 257 fields, saw 289\nSkipping line 26: expected 257 fields, saw 305\nSkipping line 32: expected 257 fields, saw 536\nSkipping line 36: expected 257 fields, saw 645\nSkipping line 42: expected 257 fields, saw 476\nSkipping line 45: expected 257 fields, saw 305\nSkipping line 47: expected 257 fields, saw 305\nSkipping line 48: expected 257 fields, saw 305\nSkipping line 51: expected 257 fields, saw 353\nSkipping line 60: expected 257 fields, saw 401\nSkipping line 61: expected 257 fields, saw 305\nSkipping line 63: expected 257 fields, saw 353\nSkipping line 66: expected 257 fields, saw 283\nSkipping line 68: expected 257 fields, saw 470\nSkipping line 72: expected 257 fields, saw 335\nSkipping line 73: expected 257 fields, saw 331\nSkipping line 74: expected 257 fields, saw 422\nSkipping line 76: expected 257 fields, saw 305\nSkipping line 77: expected 257 fields, saw 305\nSkipping line 78: expected 257 fields, saw 655\nSkipping line 83: expected 257 fields, saw 432\nSkipping line 88: expected 257 fields, saw 457\nSkipping line 89: expected 257 fields, saw 305\nSkipping line 91: expected 257 fields, saw 470\nSkipping line 96: expected 257 fields, saw 331\nSkipping line 100: expected 257 fields, saw 261\nSkipping line 106: expected 257 fields, saw 422\nSkipping line 107: expected 257 fields, saw 468\nSkipping line 115: expected 257 fields, saw 271\nSkipping line 120: expected 257 fields, saw 331\nSkipping line 124: expected 257 fields, saw 305\nSkipping line 126: expected 257 fields, saw 655\nSkipping line 128: expected 257 fields, saw 434\nSkipping line 130: expected 257 fields, saw 305\nSkipping line 131: expected 257 fields, saw 305\nSkipping line 132: expected 257 fields, saw 494\nSkipping line 138: expected 257 fields, saw 401\nSkipping line 140: expected 257 fields, saw 287\nSkipping line 141: expected 257 fields, saw 331\nSkipping line 149: expected 257 fields, saw 305\nSkipping line 153: expected 257 fields, saw 331\nSkipping line 154: expected 257 fields, saw 655\nSkipping line 159: expected 257 fields, saw 454\nSkipping line 165: expected 257 fields, saw 331\nSkipping line 174: expected 257 fields, saw 477\nSkipping line 175: expected 257 fields, saw 305\nSkipping line 184: expected 257 fields, saw 438\nSkipping line 186: expected 257 fields, saw 331\nSkipping line 187: expected 257 fields, saw 320\nSkipping line 188: expected 257 fields, saw 401\nSkipping line 190: expected 257 fields, saw 305\nSkipping line 194: expected 257 fields, saw 305\nSkipping line 196: expected 257 fields, saw 331\nSkipping line 203: expected 257 fields, saw 540\nSkipping line 210: expected 257 fields, saw 401\nSkipping line 211: expected 257 fields, saw 353\nSkipping line 213: expected 257 fields, saw 331\nSkipping line 214: expected 257 fields, saw 401\nSkipping line 221: expected 257 fields, saw 422\nSkipping line 222: expected 257 fields, saw 562\nSkipping line 227: expected 257 fields, saw 305\nSkipping line 232: expected 257 fields, saw 347\nSkipping line 233: expected 257 fields, saw 305\nSkipping line 234: expected 257 fields, saw 335\nSkipping line 236: expected 257 fields, saw 401\nSkipping line 240: expected 257 fields, saw 422\nSkipping line 241: expected 257 fields, saw 353\nSkipping line 253: expected 257 fields, saw 353\nSkipping line 254: expected 257 fields, saw 705\nSkipping line 257: expected 257 fields, saw 345\nSkipping line 260: expected 257 fields, saw 331\nSkipping line 261: expected 257 fields, saw 422\nSkipping line 267: expected 257 fields, saw 305\nSkipping line 269: expected 257 fields, saw 677\nSkipping line 270: expected 257 fields, saw 353\nSkipping line 271: expected 257 fields, saw 434\nSkipping line 273: expected 257 fields, saw 663\nSkipping line 274: expected 257 fields, saw 331\nSkipping line 276: expected 257 fields, saw 353\nSkipping line 277: expected 257 fields, saw 470\nSkipping line 280: expected 257 fields, saw 305\nSkipping line 281: expected 257 fields, saw 317\nSkipping line 288: expected 257 fields, saw 330\nSkipping line 289: expected 257 fields, saw 448\nSkipping line 293: expected 257 fields, saw 422\nSkipping line 294: expected 257 fields, saw 305\nSkipping line 295: expected 257 fields, saw 331\nSkipping line 296: expected 257 fields, saw 345\nSkipping line 301: expected 257 fields, saw 353\nSkipping line 305: expected 257 fields, saw 331\nSkipping line 307: expected 257 fields, saw 305\nSkipping line 311: expected 257 fields, saw 305\nSkipping line 313: expected 257 fields, saw 341\nSkipping line 315: expected 257 fields, saw 353\nSkipping line 318: expected 257 fields, saw 644\nSkipping line 320: expected 257 fields, saw 442\nSkipping line 326: expected 257 fields, saw 422\nSkipping line 327: expected 257 fields, saw 645\nSkipping line 329: expected 257 fields, saw 645\nSkipping line 341: expected 257 fields, saw 277\nSkipping line 342: expected 257 fields, saw 305\nSkipping line 343: expected 257 fields, saw 331\nSkipping line 345: expected 257 fields, saw 541\nSkipping line 349: expected 257 fields, saw 305\nSkipping line 351: expected 257 fields, saw 331\nSkipping line 354: expected 257 fields, saw 353\nSkipping line 358: expected 257 fields, saw 274\nSkipping line 370: expected 257 fields, saw 422\nSkipping line 372: expected 257 fields, saw 353\nSkipping line 375: expected 257 fields, saw 409\nSkipping line 378: expected 257 fields, saw 305\nSkipping line 381: expected 257 fields, saw 331\nSkipping line 383: expected 257 fields, saw 749\nSkipping line 386: expected 257 fields, saw 261\nSkipping line 387: expected 257 fields, saw 305\nSkipping line 388: expected 257 fields, saw 444\nSkipping line 390: expected 257 fields, saw 345\nSkipping line 394: expected 257 fields, saw 305\nSkipping line 395: expected 257 fields, saw 541\nSkipping line 397: expected 257 fields, saw 261\nSkipping line 399: expected 257 fields, saw 749\nSkipping line 401: expected 257 fields, saw 353\nSkipping line 404: expected 257 fields, saw 331\nSkipping line 406: expected 257 fields, saw 541\nSkipping line 409: expected 257 fields, saw 518\nSkipping line 410: expected 257 fields, saw 287\nSkipping line 412: expected 257 fields, saw 289\nSkipping line 415: expected 257 fields, saw 422\nSkipping line 416: expected 257 fields, saw 305\nSkipping line 417: expected 257 fields, saw 353\nSkipping line 418: expected 257 fields, saw 352\nSkipping line 419: expected 257 fields, saw 749\nSkipping line 421: expected 257 fields, saw 353\nSkipping line 422: expected 257 fields, saw 331\nSkipping line 424: expected 257 fields, saw 277\nSkipping line 425: expected 257 fields, saw 305\nSkipping line 430: expected 257 fields, saw 853\nSkipping line 431: expected 257 fields, saw 853\nSkipping line 432: expected 257 fields, saw 401\nSkipping line 433: expected 257 fields, saw 401\nSkipping line 434: expected 257 fields, saw 345\nSkipping line 436: expected 257 fields, saw 401\nSkipping line 437: expected 257 fields, saw 541\nSkipping line 439: expected 257 fields, saw 470\nSkipping line 441: expected 257 fields, saw 353\nSkipping line 442: expected 257 fields, saw 436\nSkipping line 443: expected 257 fields, saw 283\nSkipping line 446: expected 257 fields, saw 422\nSkipping line 447: expected 257 fields, saw 289\nSkipping line 449: expected 257 fields, saw 681\nSkipping line 453: expected 257 fields, saw 541\nSkipping line 455: expected 257 fields, saw 305\nSkipping line 456: expected 257 fields, saw 305\nSkipping line 458: expected 257 fields, saw 401\nSkipping line 459: expected 257 fields, saw 331\nSkipping line 460: expected 257 fields, saw 645\nSkipping line 462: expected 257 fields, saw 277\nSkipping line 463: expected 257 fields, saw 331\nSkipping line 464: expected 257 fields, saw 401\nSkipping line 468: expected 257 fields, saw 353\nSkipping line 469: expected 257 fields, saw 422\nSkipping line 472: expected 257 fields, saw 541\nSkipping line 476: expected 257 fields, saw 401\nSkipping line 480: expected 257 fields, saw 401\nSkipping line 481: expected 257 fields, saw 353\nSkipping line 483: expected 257 fields, saw 305\nSkipping line 486: expected 257 fields, saw 305\nSkipping line 489: expected 257 fields, saw 353\nSkipping line 493: expected 257 fields, saw 305\nSkipping line 502: expected 257 fields, saw 305\nSkipping line 505: expected 257 fields, saw 645\nSkipping line 506: expected 257 fields, saw 263\nSkipping line 511: expected 257 fields, saw 305\nSkipping line 513: expected 257 fields, saw 541\nSkipping line 515: expected 257 fields, saw 305\nSkipping line 517: expected 257 fields, saw 283\nSkipping line 518: expected 257 fields, saw 645\nSkipping line 520: expected 257 fields, saw 321\nSkipping line 521: expected 257 fields, saw 422\nSkipping line 522: expected 257 fields, saw 445\nSkipping line 524: expected 257 fields, saw 749\nSkipping line 526: expected 257 fields, saw 541\nSkipping line 528: expected 257 fields, saw 277\nSkipping line 529: expected 257 fields, saw 345\nSkipping line 534: expected 257 fields, saw 345\nSkipping line 535: expected 257 fields, saw 541\nSkipping line 536: expected 257 fields, saw 353\nSkipping line 537: expected 257 fields, saw 401\nSkipping line 538: expected 257 fields, saw 541\nSkipping line 539: expected 257 fields, saw 283\nSkipping line 541: expected 257 fields, saw 422\nSkipping line 544: expected 257 fields, saw 573\nSkipping line 550: expected 257 fields, saw 547\nSkipping line 556: expected 257 fields, saw 422\nSkipping line 559: expected 257 fields, saw 354\nSkipping line 560: expected 257 fields, saw 353\nSkipping line 563: expected 257 fields, saw 541\nSkipping line 564: expected 257 fields, saw 353\nSkipping line 565: expected 257 fields, saw 422\nSkipping line 566: expected 257 fields, saw 353\nSkipping line 567: expected 257 fields, saw 283\nSkipping line 568: expected 257 fields, saw 541\nSkipping line 569: expected 257 fields, saw 401\nSkipping line 571: expected 257 fields, saw 566\nSkipping line 572: expected 257 fields, saw 305\nSkipping line 573: expected 257 fields, saw 401\nSkipping line 574: expected 257 fields, saw 305\nSkipping line 576: expected 257 fields, saw 422\nSkipping line 577: expected 257 fields, saw 422\nSkipping line 578: expected 257 fields, saw 541\nSkipping line 579: expected 257 fields, saw 541\nSkipping line 580: expected 257 fields, saw 446\nSkipping line 581: expected 257 fields, saw 422\nSkipping line 582: expected 257 fields, saw 541\nSkipping line 583: expected 257 fields, saw 541\nSkipping line 584: expected 257 fields, saw 541\nSkipping line 585: expected 257 fields, saw 541\nSkipping line 586: expected 257 fields, saw 422\nSkipping line 587: expected 257 fields, saw 422\nSkipping line 588: expected 257 fields, saw 541\nSkipping line 590: expected 257 fields, saw 305\nSkipping line 591: expected 257 fields, saw 401\nSkipping line 592: expected 257 fields, saw 305\nSkipping line 594: expected 257 fields, saw 470\nSkipping line 596: expected 257 fields, saw 305\nSkipping line 597: expected 257 fields, saw 422\nSkipping line 600: expected 257 fields, saw 645\nSkipping line 601: expected 257 fields, saw 305\nSkipping line 602: expected 257 fields, saw 350\nSkipping line 606: expected 257 fields, saw 289\nSkipping line 607: expected 257 fields, saw 401\nSkipping line 608: expected 257 fields, saw 353\nSkipping line 609: expected 257 fields, saw 749\nSkipping line 611: expected 257 fields, saw 541\nSkipping line 614: expected 257 fields, saw 305\nSkipping line 616: expected 257 fields, saw 541\nSkipping line 618: expected 257 fields, saw 305\nSkipping line 619: expected 257 fields, saw 305\nSkipping line 625: expected 257 fields, saw 305\nSkipping line 629: expected 257 fields, saw 305\nSkipping line 631: expected 257 fields, saw 401\nSkipping line 632: expected 257 fields, saw 401\nSkipping line 634: expected 257 fields, saw 305\nSkipping line 636: expected 257 fields, saw 345\nSkipping line 637: expected 257 fields, saw 345\nSkipping line 638: expected 257 fields, saw 345\nSkipping line 642: expected 257 fields, saw 401\nSkipping line 643: expected 257 fields, saw 541\nSkipping line 646: expected 257 fields, saw 541\nSkipping line 648: expected 257 fields, saw 305\nSkipping line 651: expected 257 fields, saw 422\nSkipping line 653: expected 257 fields, saw 566\nSkipping line 656: expected 257 fields, saw 305\nSkipping line 657: expected 257 fields, saw 353\nSkipping line 658: expected 257 fields, saw 326\nSkipping line 659: expected 257 fields, saw 422\nSkipping line 661: expected 257 fields, saw 353\nSkipping line 664: expected 257 fields, saw 345\nSkipping line 665: expected 257 fields, saw 305\nSkipping line 666: expected 257 fields, saw 401\nSkipping line 667: expected 257 fields, saw 401\nSkipping line 668: expected 257 fields, saw 541\nSkipping line 669: expected 257 fields, saw 305\nSkipping line 670: expected 257 fields, saw 305\nSkipping line 671: expected 257 fields, saw 401\nSkipping line 674: expected 257 fields, saw 345\nSkipping line 676: expected 257 fields, saw 422\nSkipping line 678: expected 257 fields, saw 266\nSkipping line 680: expected 257 fields, saw 401\nSkipping line 684: expected 257 fields, saw 853\nSkipping line 686: expected 257 fields, saw 283\nSkipping line 688: expected 257 fields, saw 305\nSkipping line 693: expected 257 fields, saw 353\nSkipping line 698: expected 257 fields, saw 305\nSkipping line 701: expected 257 fields, saw 401\nSkipping line 702: expected 257 fields, saw 541\nSkipping line 703: expected 257 fields, saw 353\nSkipping line 704: expected 257 fields, saw 305\nSkipping line 705: expected 257 fields, saw 305\nSkipping line 709: expected 257 fields, saw 353\nSkipping line 710: expected 257 fields, saw 541\nSkipping line 716: expected 257 fields, saw 305\nSkipping line 720: expected 257 fields, saw 353\nSkipping line 723: expected 257 fields, saw 541\nSkipping line 724: expected 257 fields, saw 600\nSkipping line 727: expected 257 fields, saw 422\nSkipping line 729: expected 257 fields, saw 401\nSkipping line 730: expected 257 fields, saw 283\nSkipping line 731: expected 257 fields, saw 422\nSkipping line 732: expected 257 fields, saw 305\nSkipping line 733: expected 257 fields, saw 305\nSkipping line 734: expected 257 fields, saw 345\nSkipping line 736: expected 257 fields, saw 267\nSkipping line 738: expected 257 fields, saw 305\nSkipping line 739: expected 257 fields, saw 401\nSkipping line 740: expected 257 fields, saw 541\nSkipping line 742: expected 257 fields, saw 305\nSkipping line 743: expected 257 fields, saw 401\nSkipping line 745: expected 257 fields, saw 422\nSkipping line 746: expected 257 fields, saw 305\nSkipping line 747: expected 257 fields, saw 273\nSkipping line 748: expected 257 fields, saw 645\nSkipping line 750: expected 257 fields, saw 305\nSkipping line 751: expected 257 fields, saw 749\nSkipping line 752: expected 257 fields, saw 305\nSkipping line 753: expected 257 fields, saw 305\nSkipping line 754: expected 257 fields, saw 422\nSkipping line 755: expected 257 fields, saw 353\nSkipping line 758: expected 257 fields, saw 401\nSkipping line 759: expected 257 fields, saw 541\nSkipping line 760: expected 257 fields, saw 305\nSkipping line 763: expected 257 fields, saw 401\nSkipping line 767: expected 257 fields, saw 305\nSkipping line 768: expected 257 fields, saw 401\nSkipping line 769: expected 257 fields, saw 401\nSkipping line 770: expected 257 fields, saw 268\nSkipping line 771: expected 257 fields, saw 305\nSkipping line 774: expected 257 fields, saw 566\nSkipping line 777: expected 257 fields, saw 305\nSkipping line 778: expected 257 fields, saw 289\nSkipping line 780: expected 257 fields, saw 541\nSkipping line 781: expected 257 fields, saw 353\nSkipping line 783: expected 257 fields, saw 305\nSkipping line 787: expected 257 fields, saw 442\nSkipping line 790: expected 257 fields, saw 401\nSkipping line 791: expected 257 fields, saw 853\nSkipping line 793: expected 257 fields, saw 267\nSkipping line 800: expected 257 fields, saw 541\nSkipping line 802: expected 257 fields, saw 305\nSkipping line 804: expected 257 fields, saw 366\nSkipping line 806: expected 257 fields, saw 289\nSkipping line 807: expected 257 fields, saw 422\nSkipping line 811: expected 257 fields, saw 422\nSkipping line 814: expected 257 fields, saw 401\nSkipping line 818: expected 257 fields, saw 305\nSkipping line 822: expected 257 fields, saw 305\nSkipping line 824: expected 257 fields, saw 541\nSkipping line 828: expected 257 fields, saw 353\nSkipping line 830: expected 257 fields, saw 305\nSkipping line 833: expected 257 fields, saw 305\nSkipping line 836: expected 257 fields, saw 286\nSkipping line 837: expected 257 fields, saw 422\nSkipping line 838: expected 257 fields, saw 305\nSkipping line 840: expected 257 fields, saw 283\nSkipping line 841: expected 257 fields, saw 401\nSkipping line 843: expected 257 fields, saw 277\nSkipping line 844: expected 257 fields, saw 401\nSkipping line 845: expected 257 fields, saw 579\nSkipping line 847: expected 257 fields, saw 289\nSkipping line 849: expected 257 fields, saw 563\nSkipping line 855: expected 257 fields, saw 305\nSkipping line 857: expected 257 fields, saw 353\nSkipping line 859: expected 257 fields, saw 283\nSkipping line 862: expected 257 fields, saw 381\nSkipping line 865: expected 257 fields, saw 305\nSkipping line 866: expected 257 fields, saw 353\nSkipping line 868: expected 257 fields, saw 335\nSkipping line 869: expected 257 fields, saw 353\nSkipping line 870: expected 257 fields, saw 541\nSkipping line 872: expected 257 fields, saw 305\nSkipping line 873: expected 257 fields, saw 401\nSkipping line 877: expected 257 fields, saw 277\nSkipping line 878: expected 257 fields, saw 401\nSkipping line 882: expected 257 fields, saw 305\nSkipping line 883: expected 257 fields, saw 645\nSkipping line 884: expected 257 fields, saw 305\nSkipping line 885: expected 257 fields, saw 353\nSkipping line 886: expected 257 fields, saw 551\nSkipping line 888: expected 257 fields, saw 353\nSkipping line 889: expected 257 fields, saw 401\nSkipping line 890: expected 257 fields, saw 321\nSkipping line 891: expected 257 fields, saw 401\nSkipping line 896: expected 257 fields, saw 401\nSkipping line 897: expected 257 fields, saw 305\nSkipping line 898: expected 257 fields, saw 289\nSkipping line 899: expected 257 fields, saw 401\nSkipping line 900: expected 257 fields, saw 283\nSkipping line 901: expected 257 fields, saw 541\nSkipping line 902: expected 257 fields, saw 353\nSkipping line 904: expected 257 fields, saw 283\nSkipping line 907: expected 257 fields, saw 275\nSkipping line 908: expected 257 fields, saw 277\nSkipping line 909: expected 257 fields, saw 277\nSkipping line 911: expected 257 fields, saw 422\nSkipping line 914: expected 257 fields, saw 401\nSkipping line 917: expected 257 fields, saw 345\nSkipping line 918: expected 257 fields, saw 305\nSkipping line 919: expected 257 fields, saw 305\nSkipping line 921: expected 257 fields, saw 353\nSkipping line 922: expected 257 fields, saw 299\nSkipping line 923: expected 257 fields, saw 693\nSkipping line 924: expected 257 fields, saw 305\nSkipping line 927: expected 257 fields, saw 353\nSkipping line 929: expected 257 fields, saw 401\nSkipping line 931: expected 257 fields, saw 353\nSkipping line 932: expected 257 fields, saw 277\nSkipping line 933: expected 257 fields, saw 289\nSkipping line 934: expected 257 fields, saw 323\nSkipping line 935: expected 257 fields, saw 305\nSkipping line 936: expected 257 fields, saw 401\nSkipping line 939: expected 257 fields, saw 305\nSkipping line 944: expected 257 fields, saw 401\nSkipping line 945: expected 257 fields, saw 305\nSkipping line 947: expected 257 fields, saw 353\nSkipping line 955: expected 257 fie

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,"{""created_at"":","Tue Aug 01 16:23:56 +0000 2017,",id:,"892420643555336193,",id_str:,"892420643555336193,",text:,This is Phineas. He's a mystical boy. Only eve...,truncated:,"false,",...,favorited:,"false,",retweeted:,"false,",possibly_sensitive:,"false,",possibly_sensitive_appealable:,"false,",lang:,en}
1,"{""created_at"":","Tue Aug 01 00:17:27 +0000 2017,",id:,"892177421306343426,",id_str:,"892177421306343426,",text:,This is Tilly. She's just checking pup on you....,truncated:,"true,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{""created_at"":","Mon Jul 31 00:18:03 +0000 2017,",id:,"891815181378084864,",id_str:,"891815181378084864,",text:,This is Archie. He is a rare Norwegian Pouncin...,truncated:,"true,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{""created_at"":","Sun Jul 30 15:58:51 +0000 2017,",id:,"891689557279858688,",id_str:,"891689557279858688,",text:,This is Darla. She commenced a snooze mid meal...,truncated:,"false,",...,favorited:,"false,",retweeted:,"false,",possibly_sensitive:,"false,",possibly_sensitive_appealable:,"false,",lang:,en}
4,"{""created_at"":","Sat Jul 29 16:00:24 +0000 2017,",id:,"891327558926688256,",id_str:,"891327558926688256,",text:,This is Franklin. He would like you to stop ca...,He,is,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628,"{""created_at"":","Mon Nov 16 00:24:50 +0000 2015,",id:,"666049248165822465,",id_str:,"666049248165822465,",text:,Here we have a 1949 1st generation vulpix. Enj...,truncated:,"false,",...,favorited:,"false,",retweeted:,"false,",possibly_sensitive:,"false,",possibly_sensitive_appealable:,"false,",lang:,en}
1629,"{""created_at"":","Mon Nov 16 00:04:52 +0000 2015,",id:,"666044226329800704,",id_str:,"666044226329800704,",text:,This is a purebred Piers Morgan. Loves to Netf...,truncated:,"false,",...,favorited:,"false,",retweeted:,"false,",possibly_sensitive:,"false,",possibly_sensitive_appealable:,"false,",lang:,en}
1630,"{""created_at"":","Sun Nov 15 23:21:54 +0000 2015,",id:,"666033412701032449,",id_str:,"666033412701032449,",text:,Here is a very happy pup. Big fan of well-main...,truncated:,"false,",...,favorited:,"false,",retweeted:,"false,",possibly_sensitive:,"false,",possibly_sensitive_appealable:,"false,",lang:,en}
1631,"{""created_at"":","Sun Nov 15 23:05:30 +0000 2015,",id:,"666029285002620928,",id_str:,"666029285002620928,",text:,This is a western brown Mitsubishi terrier. Up...,truncated:,"false,",...,favorited:,"false,",retweeted:,"false,",possibly_sensitive:,"false,",possibly_sensitive_appealable:,"false,",lang:,en}
1632,"{""created_at"":","Sun Nov 15 22:32:08 +0000 2015,",id:,"666020888022790149,",id_str:,"666020888022790149,",text:,Here we have a Japanese Irish Setter. Lost eye...,truncated:,"false,",...,favorited:,"false,",retweeted:,"false,",possibly_sensitive:,"false,",possibly_sensitive_appealable:,"false,",lang:,en}

In [39]:
#############data Assessment#####################

## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

In [37]:
archive_enhanced.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [90]:
img_pred.tail(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [88]:
img_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [89]:
archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [46]:
chosen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1633 entries, 0 to 1632
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        1633 non-null   object
 1   description     1633 non-null   object
 2   favorite_count  1233 non-null   object
 3   retweet_count   1233 non-null   object
 4   url             1633 non-null   object
 5   followers       1633 non-null   object
dtypes: object(6)
memory usage: 76.7+ KB

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1633 entries, 0 to 1632
Columns: 257 entries, 0 to 256
dtypes: object(257)
memory usage: 3.2+ MB

In [7]:
data.shape

(1633, 257)

In [8]:
data.head(3)

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,"{""created_at"":","Tue Aug 01 16:23:56 +0000 2017,",id:,"892420643555336193,",id_str:,"892420643555336193,",text:,This is Phineas. He's a mystical boy. Only eve...,truncated:,"false,",...,favorited:,"false,",retweeted:,"false,",possibly_sensitive:,"false,",possibly_sensitive_appealable:,"false,",lang:,en}
1,"{""created_at"":","Tue Aug 01 00:17:27 +0000 2017,",id:,"892177421306343426,",id_str:,"892177421306343426,",text:,This is Tilly. She's just checking pup on you....,truncated:,"true,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{""created_at"":","Mon Jul 31 00:18:03 +0000 2017,",id:,"891815181378084864,",id_str:,"891815181378084864,",text:,This is Archie. He is a rare Norwegian Pouncin...,truncated:,"true,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#creating copy of the data obtained from twitter api 
specific_data = data.copy()

In [10]:
specific_data.to_csv("spec.csv")

In [11]:
specific_data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,"{""created_at"":","Tue Aug 01 16:23:56 +0000 2017,",id:,"892420643555336193,",id_str:,"892420643555336193,",text:,This is Phineas. He's a mystical boy. Only eve...,truncated:,"false,",...,favorited:,"false,",retweeted:,"false,",possibly_sensitive:,"false,",possibly_sensitive_appealable:,"false,",lang:,en}

In [12]:
tweet_json = pd.read_csv('tweet_json.txt', sep = " ", header = None, error_bad_lines =False)

b'Skipping line 5: expected 258 fields, saw 325\nSkipping line 6: expected 258 fields, saw 262\nSkipping line 7: expected 258 fields, saw 266\nSkipping line 8: expected 258 fields, saw 306\nSkipping line 9: expected 258 fields, saw 262\nSkipping line 11: expected 258 fields, saw 310\nSkipping line 14: expected 258 fields, saw 306\nSkipping line 15: expected 258 fields, saw 262\nSkipping line 16: expected 258 fields, saw 282\nSkipping line 18: expected 258 fields, saw 306\nSkipping line 19: expected 258 fields, saw 402\nSkipping line 20: expected 258 fields, saw 306\nSkipping line 22: expected 258 fields, saw 284\nSkipping line 23: expected 258 fields, saw 306\nSkipping line 24: expected 258 fields, saw 290\nSkipping line 26: expected 258 fields, saw 306\nSkipping line 27: expected 258 fields, saw 314\nSkipping line 29: expected 258 fields, saw 306\nSkipping line 32: expected 258 fields, saw 638\nSkipping line 35: expected 258 fields, saw 461\nSkipping line 36: expected 258 fields, saw 647\nSkipping line 37: expected 258 fields, saw 402\nSkipping line 39: expected 258 fields, saw 402\nSkipping line 42: expected 258 fields, saw 467\nSkipping line 45: expected 258 fields, saw 306\nSkipping line 47: expected 258 fields, saw 306\nSkipping line 48: expected 258 fields, saw 306\nSkipping line 51: expected 258 fields, saw 354\nSkipping line 52: expected 258 fields, saw 402\nSkipping line 56: expected 258 fields, saw 284\nSkipping line 57: expected 258 fields, saw 262\nSkipping line 60: expected 258 fields, saw 402\nSkipping line 61: expected 258 fields, saw 306\nSkipping line 62: expected 258 fields, saw 268\nSkipping line 63: expected 258 fields, saw 354\nSkipping line 66: expected 258 fields, saw 284\nSkipping line 68: expected 258 fields, saw 472\nSkipping line 71: expected 258 fields, saw 315\nSkipping line 72: expected 258 fields, saw 337\nSkipping line 73: expected 258 fields, saw 432\nSkipping line 74: expected 258 fields, saw 424\nSkipping line 75: expected 258 fields, saw 266\nSkipping line 76: expected 258 fields, saw 306\nSkipping line 77: expected 258 fields, saw 306\nSkipping line 78: expected 258 fields, saw 657\nSkipping line 80: expected 258 fields, saw 306\nSkipping line 81: expected 258 fields, saw 306\nSkipping line 82: expected 258 fields, saw 306\nSkipping line 83: expected 258 fields, saw 442\nSkipping line 87: expected 258 fields, saw 290\nSkipping line 88: expected 258 fields, saw 459\nSkipping line 89: expected 258 fields, saw 306\nSkipping line 91: expected 258 fields, saw 472\nSkipping line 94: expected 258 fields, saw 310\nSkipping line 95: expected 258 fields, saw 543\nSkipping line 97: expected 258 fields, saw 480\nSkipping line 98: expected 258 fields, saw 314\nSkipping line 99: expected 258 fields, saw 306\nSkipping line 100: expected 258 fields, saw 406\nSkipping line 101: expected 258 fields, saw 434\nSkipping line 102: expected 258 fields, saw 262\nSkipping line 104: expected 258 fields, saw 306\nSkipping line 105: expected 258 fields, saw 306\nSkipping line 106: expected 258 fields, saw 310\nSkipping line 107: expected 258 fields, saw 354\nSkipping line 108: expected 258 fields, saw 306\nSkipping line 109: expected 258 fields, saw 424\nSkipping line 110: expected 258 fields, saw 470\nSkipping line 114: expected 258 fields, saw 410\nSkipping line 116: expected 258 fields, saw 306\nSkipping line 117: expected 258 fields, saw 306\nSkipping line 118: expected 258 fields, saw 450\nSkipping line 119: expected 258 fields, saw 272\nSkipping line 121: expected 258 fields, saw 306\nSkipping line 124: expected 258 fields, saw 480\nSkipping line 126: expected 258 fields, saw 314\nSkipping line 127: expected 258 fields, saw 266\nSkipping line 128: expected 258 fields, saw 306\nSkipping line 130: expected 258 fields, saw 668\nSkipping line 132: expected 258 fields, saw 472\nSkipping line 133: expected 258 fields, saw 453\nSkipping line 134: expected 258 fields, saw 306\nSkipping line 135: expected 258 fields, saw 306\nSkipping line 136: expected 258 fields, saw 306\nSkipping line 137: expected 258 fields, saw 496\nSkipping line 139: expected 258 fields, saw 306\nSkipping line 141: expected 258 fields, saw 306\nSkipping line 142: expected 258 fields, saw 306\nSkipping line 143: expected 258 fields, saw 402\nSkipping line 144: expected 258 fields, saw 306\nSkipping line 145: expected 258 fields, saw 288\nSkipping line 146: expected 258 fields, saw 576\nSkipping line 150: expected 258 fields, saw 410\nSkipping line 151: expected 258 fields, saw 306\nSkipping line 153: expected 258 fields, saw 354\nSkipping line 154: expected 258 fields, saw 306\nSkipping line 155: expected 258 fields, saw 679\nSkipping line 157: expected 258 fields, saw 284\nSkipping line 159: expected 258 fields, saw 480\nSkipping line 160: expected 258 fields, saw 657\nSkipping line 161: expected 258 fields, saw 314\nSkipping line 165: expected 258 fields, saw 456\nSkipping line 167: expected 258 fields, saw 402\nSkipping line 169: expected 258 fields, saw 284\nSkipping line 171: expected 258 fields, saw 424\nSkipping line 176: expected 258 fields, saw 354\nSkipping line 177: expected 258 fields, saw 410\nSkipping line 180: expected 258 fields, saw 487\nSkipping line 181: expected 258 fields, saw 306\nSkipping line 182: expected 258 fields, saw 424\nSkipping line 185: expected 258 fields, saw 359\nSkipping line 187: expected 258 fields, saw 402\nSkipping line 190: expected 258 fields, saw 497\nSkipping line 191: expected 258 fields, saw 262\nSkipping line 192: expected 258 fields, saw 429\nSkipping line 193: expected 258 fields, saw 306\nSkipping line 194: expected 258 fields, saw 472\nSkipping line 195: expected 258 fields, saw 445\nSkipping line 196: expected 258 fields, saw 402\nSkipping line 198: expected 258 fields, saw 306\nSkipping line 199: expected 258 fields, saw 402\nSkipping line 200: expected 258 fields, saw 306\nSkipping line 202: expected 258 fields, saw 306\nSkipping line 203: expected 258 fields, saw 306\nSkipping line 204: expected 258 fields, saw 576\nSkipping line 205: expected 258 fields, saw 314\nSkipping line 207: expected 258 fields, saw 306\nSkipping line 209: expected 258 fields, saw 290\nSkipping line 211: expected 258 fields, saw 647\nSkipping line 212: expected 258 fields, saw 564\nSkipping line 214: expected 258 fields, saw 402\nSkipping line 215: expected 258 fields, saw 402\nSkipping line 216: expected 258 fields, saw 306\nSkipping line 217: expected 258 fields, saw 284\nSkipping line 219: expected 258 fields, saw 402\nSkipping line 220: expected 258 fields, saw 354\nSkipping line 221: expected 258 fields, saw 306\nSkipping line 222: expected 258 fields, saw 520\nSkipping line 223: expected 258 fields, saw 402\nSkipping line 230: expected 258 fields, saw 424\nSkipping line 231: expected 258 fields, saw 564\nSkipping line 233: expected 258 fields, saw 266\nSkipping line 236: expected 258 fields, saw 306\nSkipping line 237: expected 258 fields, saw 314\nSkipping line 239: expected 258 fields, saw 306\nSkipping line 240: expected 258 fields, saw 354\nSkipping line 241: expected 258 fields, saw 349\nSkipping line 242: expected 258 fields, saw 306\nSkipping line 243: expected 258 fields, saw 460\nSkipping line 245: expected 258 fields, saw 402\nSkipping line 247: expected 258 fields, saw 568\nSkipping line 248: expected 258 fields, saw 314\nSkipping line 250: expected 258 fields, saw 424\nSkipping line 251: expected 258 fields, saw 354\nSkipping line 259: expected 258 fields, saw 354\nSkipping line 260: expected 258 fields, saw 693\nSkipping line 262: expected 258 fields, saw 314\nSkipping line 264: expected 258 fields, saw 306\nSkipping line 265: expected 258 fields, saw 354\nSkipping line 266: expected 258 fields, saw 705\nSkipping line 268: expected 258 fields, saw 406\nSkipping line 269: expected 258 fields, saw 482\nSkipping line 270: expected 258 fields, saw 284\nSkipping line 272: expected 258 fields, saw 432\nSkipping line 273: expected 258 fields, saw 424\nSkipping line 276: expected 258 fields, saw 266\nSkipping line 278: expected 258 fields, saw 402\nSkipping line 279: expected 258 fields, saw 306\nSkipping line 281: expected 258 fields, saw 679\nSkipping line 282: expected 258 fields, saw 354\nSkipping line 283: expected 258 fields, saw 436\nSkipping line 285: expected 258 fields, saw 676\nSkipping line 286: expected 258 fields, saw 520\nSkipping line 288: expected 258 fields, saw 354\nSkipping line 289: expected 258 fields, saw 472\nSkipping line 292: expected 258 fields, saw 306\nSkipping line 293: expected 258 fields, saw 318\nSkipping line 294: expected 258 fields, saw 316\nSkipping line 295: expected 258 fields, saw 306\nSkipping line 298: expected 258 fields, saw 553\nSkipping line 301: expected 258 fields, saw 306\nSkipping line 302: expected 258 fields, saw 445\nSkipping line 303: expected 258 fields, saw 450\nSkipping line 306: expected 258 fields, saw 402\nSkipping line 307: expected 258 fields, saw 424\nSkipping line 308: expected 258 fields, saw 306\nSkipping line 309: expected 258 fields, saw 480\nSkipping line 310: expected 258 fields, saw 347\nSkipping line 312: expected 258 fields, saw 314\nSkipping line 314: expected 258 fields, saw 306\nSkipping line 315: expected 258 fields, saw 354\nSkipping line 316: expected 258 fields, saw 354\nSkipping line 319: expected 258 fields, saw 472\nSkipping line 321: expected 258 fields, saw 306\nSkipping line 323: expected 258 fields, saw 439\nSkipping line 325: expected 258 fields, saw 306\nSkipping line 326: expected 258 fields, saw 306\nSkipping line 327: expected 258 fields, saw 456\nSkipping line 328: expected 258 fields, saw 306\nSkipping line 329: expected 258 fields, saw 354\nSkipping line 330: expected 258 fields, saw 354\nSkipping line 331: expected 258 fields, saw 306\nSkipping line 332: expected 258 fields, saw 657\nSkipping line 333: expected 258 fields, saw 306\nSkipping line 334: expected 258 fields, saw 436\nSkipping line 337: expected 258 fields, saw 306\nSkipping line 339: expected 258 fields, saw 290\nSkipping line 340: expected 258 fields, saw 424\nSkipping line 341: expected 258 fields, saw 647\nSkipping line 343: expected 258 fields, saw 647\nSkipping line 344: expected 258 fields, saw 410\nSkipping line 347: expected 258 fields, saw 402\nSkipping line 349: expected 258 fields, saw 410\nSkipping line 352: expected 258 fields, saw 406\nSkipping line 355: expected 258 fields, saw 278\nSkipping line 356: expected 258 fields, saw 306\nSkipping line 357: expected 258 fields, saw 472\nSkipping line 358: expected 258 fields, saw 410\nSkipping line 359: expected 258 fields, saw 543\nSkipping line 361: expected 258 fields, saw 306\nSkipping line 363: expected 258 fields, saw 306\nSkipping line 364: expected 258 fields, saw 306\nSkipping line 365: expected 258 fields, saw 306\nSkipping line 366: expected 258 fields, saw 424\nSkipping line 368: expected 258 fields, saw 306\nSkipping line 369: expected 258 fields, saw 354\nSkipping line 373: expected 258 fields, saw 275\nSkipping line 376: expected 258 fields, saw 354\nSkipping line 377: expected 258 fields, saw 306\nSkipping line 378: expected 258 fields, saw 354\nSkipping line 380: expected 258 fields, saw 268\nSkipping line 382: expected 258 fields, saw 472\nSkipping line 383: expected 258 fields, saw 402\nSkipping line 385: expected 258 fields, saw 402\nSkipping line 386: expected 258 fields, saw 424\nSkipping line 388: expected 258 fields, saw 354\nSkipping line 391: expected 258 fields, saw 410\nSkipping line 394: expected 258 fields, saw 306\nSkipping line 397: expected 258 fields, saw 480\nSkipping line 398: expected 258 fields, saw 314\nSkipping line 399: expected 258 fields, saw 751\nSkipping line 400: expected 258 fields, saw 306\nSkipping line 402: expected 258 fields, saw 262\nSkipping line 403: expected 258 fields, saw 306\nSkipping line 404: expected 258 fields, saw 446\nSkipping line 406: expected 258 fields, saw 347\nSkipping line 410: expected 258 fields, saw 306\nSkipping line 411: expected 258 fields, saw 543\nSkipping line 413: expected 258 fields, saw 262\nSkipping line 415: expected 258 fields, saw 751\nSkipping line 417: expected 258 fields, saw 354\nSkipping line 418: expected 258 fields, saw 402\nSkipping line 420: expected 258 fields, saw 424\nSkipping line 422: expected 258 fields, saw 543\nSkipping line 425: expected 258 fields, saw 520\nSkipping line 426: expected 258 fields, saw 288\nSkipping line 428: expected 258 fields, saw 290\nSkipping line 431: expected 258 fields, saw 424\nSkipping line 432: expected 258 fields, saw 306\nSkipping line 433: expected 258 fields, saw 354\nSkipping line 434: expected 258 fields, saw 549\nSkipping line 435: expected 258 fields, saw 751\nSkipping line 436: expected 258 fields, saw 372\nSkipping line 437: expected 258 fields, saw 354\nSkipping line 438: expected 258 fields, saw 432\nSkipping line 439: expected 258 fields, saw 266\nSkipping line 440: expected 258 fields, saw 278\nSkipping line 441: expected 258 fields, saw 306\nSkipping line 443: expected 258 fields, saw 354\nSkipping line 446: expected 258 fields, saw 855\nSkipping line 447: expected 258 fields, saw 855\nSkipping line 448: expected 258 fields, saw 402\nSkipping line 449: expected 258 fields, saw 402\nSkipping line 450: expected 258 fields, saw 347\nSkipping line 452: expected 258 fields, saw 402\nSkipping line 453: expected 258 fields, saw 543\nSkipping line 455: expected 258 fields, saw 472\nSkipping line 457: expected 258 fields, saw 354\nSkipping line 458: expected 258 fields, saw 438\nSkipping line 459: expected 258 fields, saw 284\nSkipping line 460: expected 258 fields, saw 293\nSkipping line 461: expected 258 fields, saw 402\nSkipping line 462: expected 258 fields, saw 424\nSkipping line 463: expected 258 fields, saw 290\nSkipping line 464: expected 258 fields, saw 266\nSkipping line 465: expected 258 fields, saw 681\nSkipping line 469: expected 258 fields, saw 543\nSkipping line 471: expected 258 fields, saw 306\nSkipping line 472: expected 258 fields, saw 306\nSkipping line 474: expected 258 fields, saw 402\nSkipping line 475: expected 258 fields, saw 432\nSkipping line 476: expected 258 fields, saw 647\nSkipping line 477: expected 258 fields, saw 266\nSkipping line 478: expected 258 fields, saw 278\nSkipping line 479: expected 258 fields, saw 568\nSkipping line 480: expected 258 fields, saw 402\nSkipping line 484: expected 258 fields, saw 354\nSkipping line 485: expected 258 fields, saw 424\nSkipping line 488: expected 258 fields, saw 543\nSkipping line 490: expected 258 fields, saw 354\nSkipping line 492: expected 258 fields, saw 402\nSkipping line 496: expected 258 fields, saw 402\nSkipping line 497: expected 258 fields, saw 354\nSkipping line 499: expected 258 fields, saw 306\nSkipping line 502: expected 258 fields, saw 306\nSkipping line 505: expected 258 fields, saw 354\nSkipping line 506: expected 258 fields, saw 452\nSkipping line 508: expected 258 fields, saw 314\nSkipping line 510: expected 258 fields, saw 306\nSkipping line 516: expected 258 fields, saw 266\nSkipping line 517: expected 258 fields, saw 354\nSkipping line 519: expected 258 fields, saw 306\nSkipping line 522: expected 258 fields, saw 647\nSkipping line 523: expected 258 fields, saw 264\nSkipping line 524: expected 258 fields, saw 306\nSkipping line 528: expected 258 fields, saw 306\nSkipping line 530: expected 258 fields, saw 543\nSkipping line 532: expected 258 fields, saw 306\nSkipping line 533: expected 258 fields, saw 402\nSkipping line 534: expected 258 fields, saw 284\nSkipping line 535: expected 258 fields, saw 647\nSkipping line 537: expected 258 fields, saw 322\nSkipping line 538: expected 258 fields, saw 424\nSkipping line 539: expected 258 fields, saw 447\nSkipping line 541: expected 258 fields, saw 751\nSkipping line 543: expected 258 fields, saw 543\nSkipping line 545: expected 258 fields, saw 278\nSkipping line 546: expected 258 fields, saw 347\nSkipping line 547: expected 258 fields, saw 402\nSkipping line 548: expected 258 fields, saw 402\nSkipping line 551: expected 258 fields, saw 457\nSkipping line 552: expected 258 fields, saw 543\nSkipping line 553: expected 258 fields, saw 354\nSkipping line 554: expected 258 fields, saw 402\nSkipping line 555: expected 258 fields, saw 543\nSkipping line 556: expected 258 fields, saw 284\nSkipping line 558: expected 258 fields, saw 424\nSkipping line 561: expected 258 fields, saw 575\nSkipping line 564: expected 258 fields, saw 402\nSkipping line 566: expected 258 fields, saw 647\nSkipping line 567: expected 258 fields, saw 306\nSkipping line 568: expected 258 fields, saw 541\nSkipping line 574: expected 258 fields, saw 424\nSkipping line 575: expected 258 fields, saw 306\nSkipping line 577: expected 258 fields, saw 345\nSkipping line 578: expected 258 fields, saw 354\nSkipping line 581: expected 258 fields, saw 543\nSkipping line 582: expected 258 fields, saw 354\nSkipping line 583: expected 258 fields, saw 424\nSkipping line 584: expected 258 fields, saw 354\nSkipping line 585: expected 258 fields, saw 284\nSkipping line 586: expected 258 fields, saw 543\nSkipping line 587: expected 258 fields, saw 402\nSkipping line 589: expected 258 fields, saw 568\nSkipping line 590: expected 258 fields, saw 306\nSkipping line 591: expected 258 fields, saw 402\nSkipping line 592: expected 258 fields, saw 306\nSkipping line 594: expected 258 fields, saw 424\nSkipping line 595: expected 258 fields, saw 424\nSkipping line 596: expected 258 fields, saw 543\nSkipping line 597: expected 258 fields, saw 543\nSkipping line 598: expected 258 fields, saw 448\nSkipping line 599: expected 258 fields, saw 424\nSkipping line 600: expected 258 fields, saw 543\nSkipping line 601: expected 258 fields, saw 543\nSkipping line 602: expected 258 fields, saw 543\nSkipping line 603: expected 258 fields, saw 543\nSkipping line 604: expected 258 fields, saw 424\nSkipping line 605: expected 258 fields, saw 424\nSkipping line 606: expected 258 fields, saw 543\nSkipping line 608: expected 258 fields, saw 306\nSkipping line 609: expected 258 fields, saw 402\nSkipping line 610: expected 258 fields, saw 306\nSkipping line 612: expected 258 fields, saw 472\nSkipping line 614: expected 258 fields, saw 306\nSkipping line 615: expected 258 fields, saw 424\nSkipping line 617: expected 258 fields, saw 306\nSkipping line 618: expected 258 fields, saw 647\nSkipping line 619: expected 258 fields, saw 306\nSkipping line 620: expected 258 fields, saw 452\nSkipping line 624: expected 258 fields, saw 290\nSkipping line 625: expected 258 fields, saw 402\nSkipping line 626: expected 258 fields, saw 354\nSkipping line 627: expected 258 fields, saw 751\nSkipping line 629: expected 258 fields, saw 543\nSkipping line 631: expected 258 fields, saw 354\nSkipping line 632: expected 258 fields, saw 306\nSkipping line 634: expected 258 fields, saw 543\nSkipping line 636: expected 258 fields, saw 306\nSkipping line 637: expected 258 fields, saw 306\nSkipping line 641: expected 258 fields, saw 354\nSkipping line 643: expected 258 fields, saw 306\nSkipping line 647: expected 258 fields, saw 306\nSkipping line 649: expected 258 fields, saw 402\nSkipping line 650: expected 258 fields, saw 402\nSkipping line 652: expected 258 fields, saw 306\nSkipping line 653: expected 258 fields, saw 306\nSkipping line 654: expected 258 fields, saw 347\nSkipping line 655: expected 258 fields, saw 347\nSkipping line 656: expected 258 fields, saw 347\nSkipping line 659: expected 258 fields, saw 402\nSkipping line 660: expected 258 fields, saw 402\nSkipping line 661: expected 258 fields, saw 543\nSkipping line 664: expected 258 fields, saw 543\nSkipping line 666: expected 258 fields, saw 306\nSkipping line 669: expected 258 fields, saw 424\nSkipping line 671: expected 258 fields, saw 568\nSkipping line 674: expected 258 fields, saw 306\nSkipping line 675: expected 258 fields, saw 354\nSkipping line 676: e

In [13]:
tweet_json.shape

(1494, 258)

In [14]:
specific_data.shape

(1633, 257)

In [15]:
tweet_json.head(1)

,0,1,2,3,4,5,6,7,8,9,...,248,249,250,251,252,253,254,255,256,257
0,"{""created_at"":","Tue Aug 01 16:23:56 +0000 2017,",id:,"892420643555336193,",id_str:,"892420643555336193,",full_text:,This is Phineas. He's a mystical boy. Only eve...,truncated:,"false,",...,favorited:,"false,",retweeted:,"false,",possibly_sensitive:,"false,",possibly_sensitive_appealable:,"false,",lang:,en}

In [16]:
#choosing specifc columns for the data from twitter
chosen_data = specific_data[[3,7,247,245,246,243,244, 248, 249, 250, 19, 75]]

### Quality issues
1. There's a string character (,) in each column 

2. There's a word - false in numerical columns like number of favorite and number of likes

3. There are erroneous data types assigned to the numerical columns

4. The column header is in numbers needs to changed to a more relevant type 

5. There are missing values in the column favorite count & retweet count

6. 

7. 

8.

### Tidiness issues
1. This dataset has 

2.

## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [17]:
#renaming the columns
chosen_data.rename(columns={3: "tweet_id",7: "description",247: "favorited",245:"favorite ct",246:"favorite_count",243:"retweet ct", 244: "retweet_count",248:"t/f",249:"retweeted",250:"true/false", 19:"url", 75:"followers"}, inplace = True)
chosen_data

/Users/satyamchauhan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,tweet_id,description,favorited,favorite ct,favorite_count,retweet ct,retweet_count,t/f,retweeted,true/false,url,followers
0,"892420643555336193,",This is Phineas. He's a mystical boy. Only eve...,favorited:,favorite_count:,"34369,",retweet_count:,"7144,","false,",retweeted:,"false,",media:,"[86,"
1,"892177421306343426,",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"https://t.co/aQFSeaCu9L,","9096876,"
2,"891815181378084864,",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"https://t.co/r0YlrsGCgy,","9096876,"
3,"891689557279858688,",This is Darla. She commenced a snooze mid meal...,favorited:,favorite_count:,"37548,",retweet_count:,"7347,","false,",retweeted:,"false,",media:,"[80,"
4,"891327558926688256,",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"https://t.co/0g0KMIVXZ3"",","http://links.weratedogs.com,"
...,...,...,...,...,...,...,...,...,...,...,...,...
1628,"666049248165822465,",Here we have a 1949 1st generation vulpix. Enj...,favorited:,favorite_count:,"91,",retweet_count:,"37,","false,",retweeted:,"false,",media:,"[97,"
1629,"666044226329800704,",This is a purebred Piers Morgan. Loves to Netf...,favorited:,favorite_count:,"251,",retweet_count:,"117,","false,",retweeted:,"false,",media:,"[114,"
1630,"666033412701032449,",Here is a very happy pup. Big fan of well-main...,favorited:,favorite_count:,"102,",retweet_count:,"36,","false,",retweeted:,"false,",media:,"[107,"
1631,"666029285002620928,",This is a western brown Mitsubishi terrier. Up...,favorited:,favorite_count:,"115,",retweet_count:,"39,","false,",retweeted:,"false,",media:,"[116,"
1632,"666020888022790149,",Here we have a Japanese Irish Setter. Lost eye...,favorited:,favorite_count:,"2316,",retweet_count:,"432,","false,",retweeted:,"false,",media:,"[108,"

In [18]:
#choosing specific column
chosen_data = chosen_data.drop(chosen_data.columns[[2,3,5,7,8,9]], axis = 1)

In [19]:
chosen_data.head(3)

,tweet_id,description,favorite_count,retweet_count,url,followers
0,"892420643555336193,",This is Phineas. He's a mystical boy. Only eve...,"34369,","7144,",media:,"[86,"
1,"892177421306343426,",This is Tilly. She's just checking pup on you....,NaN,NaN,"https://t.co/aQFSeaCu9L,","9096876,"
2,"891815181378084864,",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,"https://t.co/r0YlrsGCgy,","9096876,"

In [20]:
chosen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1633 entries, 0 to 1632
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        1633 non-null   object
 1   description     1633 non-null   object
 2   favorite_count  1233 non-null   object
 3   retweet_count   1233 non-null   object
 4   url             1633 non-null   object
 5   followers       1633 non-null   object
dtypes: object(6)
memory usage: 76.7+ KB

### Issue #1:
#### Define: There's a string character (,) in each column

#### Code

In [21]:
#remove last character
chosen_data['tweet_id'] = chosen_data['tweet_id'].str[:-1]
chosen_data['description'] = chosen_data['description'].str[:-1]
chosen_data['favorite_count'] = chosen_data['favorite_count'].str[:-1]
chosen_data['retweet_count'] = chosen_data['retweet_count'].str[:-1]
chosen_data['url'] = chosen_data['url'].str[:-1]
chosen_data['followers'] = chosen_data['followers'].str[:-1]

#### Test

In [22]:
chosen_data.head(3)

,tweet_id,description,favorite_count,retweet_count,url,followers
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,34369,7144,media,[86
1,892177421306343426,This is Tilly. She's just checking pup on you....,NaN,NaN,https://t.co/aQFSeaCu9L,9096876
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,https://t.co/r0YlrsGCgy,9096876

In [23]:
chosen_data.to_csv('chosen_data.csv')

### Issue #2:
#### Define: There's a word - "false" in columns like number of favorite and number of likes

#### Code

In [24]:
#getting the indexes of all the rows that have "false"as a value
i = chosen_data[(chosen_data.favorite_count == 'false')].index

In [25]:
#replacing the "false" with 0
for x in i:
    chosen_data.at[i, 'favorite_count'] = '0'

In [26]:
#utilizing the values of i to check whether the values of rows got changed
print(i)

Int64Index([538, 539, 540, 541, 542, 543, 544, 1065, 1066], dtype='int64')

#### Test

In [27]:
chosen_data.iloc[540]

tweet_id                                         750041628174217216
description       This is Beau. He's trying to keep his daddy fr...
favorite_count                                                    0
retweet_count                                                  3011
url                                                           media
followers                                                      [112
Name: 540, dtype: object

In [28]:
chosen_data.to_csv('chosen_data.csv')

### Issue #3:
#### Define:  There are erroneous data types assigned to the numerical columns

#### Code

In [29]:
chosen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1633 entries, 0 to 1632
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        1633 non-null   object
 1   description     1633 non-null   object
 2   favorite_count  1233 non-null   object
 3   retweet_count   1233 non-null   object
 4   url             1633 non-null   object
 5   followers       1633 non-null   object
dtypes: object(6)
memory usage: 76.7+ KB

In [31]:
chosen_data['favorite_count'] = pd.to_numeric(chosen_data['favorite_count'])

In [93]:
#changing the data type of tweet_id of chosen_data to int so that we can merge it with other datasets to create a master data
chosen_data['tweet_id'] = chosen_data['tweet_id'].astype(str).astype(int)

In [94]:
#creating master data set by merging chosen_data, archived_enhanced and img_pred
master_data = pd.merge(chosen_data, archive_enhanced, on = 'tweet_id')
master_data = pd.merge(master_data, img_pred, on = 'tweet_id')

In [101]:
master_data.head(5)

,tweet_id,description,favorite_count,retweet_count,url,followers,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,34369,7144,media,[86,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,This is Tilly. She's just checking pup on you....,NaN,NaN,https://t.co/aQFSeaCu9L,9096876,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",...,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,https://t.co/r0YlrsGCgy,9096876,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",...,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
3,891689557279858688,This is Darla. She commenced a snooze mid meal...,37548,7347,media,[80,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",...,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
4,891327558926688256,This is Franklin. He would like you to stop ca...,NaN,NaN,"https://t.co/0g0KMIVXZ3""",http://links.weratedogs.com,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",...,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True

In [112]:
####dropping unwanted columns
master_data.drop(['in_reply_to_status_id','in_reply_to_user_id', 'text'], axis = 1, inplace = True)

In [114]:
master_data.to_csv('master_data.csv')

In [132]:
master_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1476 entries, 0 to 1475
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    1476 non-null   int64
 1   description                 1476 non-null   object
 2   favorite_count              1233 non-null   object
 3   retweet_count               1233 non-null   object
 4   url                         1476 non-null   object
 5   followers                   1476 non-null   object
 6   timestamp                   1476 non-null   object
 7   source                      1476 non-null   object
 8   retweeted_status_id         0 non-null      float64
 9   retweeted_status_user_id    0 non-null      float64
 10  retweeted_status_timestamp  0 non-null      object
 11  expanded_urls               1476 non-null   object
 12  rating_numerator            1476 non-null   int64
 13  rating_denominator          1476 non-null   int64
 14  name                        1476 non-null   object
 15  doggo                       1476 non-null   object
 16  floofer                     1476 non-null   object
 17  pupper                      1476 non-null   object
 18  puppo                       1476 non-null   object
 19  jpg_url                     1476 non-null   object
 20  img_num                     1476 non-null   int64
 21  p1                          1476 non-null   object
 22  p1_conf                     1476 non-null   float64
 23  p1_dog                      1476 non-null   bool
 24  p2                          1476 non-null   object
 25  p2_conf                     1476 non-null   float64
 26  p2_dog                      1476 non-null   bool
 27  p3                          1476 non-null   object
 28  p3_conf                     1476 non-null   float64
 29  p3_dog                      1476 non-null   bool
 30  dog_stages                  1476 non-null   object
dtypes: bool(3), float64(5), int64(4), object(19)
memory usage: 338.7+ KB

#### Test

### Issue #5:
#### Define:  Combine dog stages into one column

#### Code

In [115]:
master_data['dog_stages'] = master_data.doggo + master_data.floofer + master_data.pupper + master_data.puppo

In [131]:
master_data.query('dog_stages == "NoneNoneNoneNone"').count()

tweet_id                      1263
description                   1263
favorite_count                1068
retweet_count                 1068
url                           1263
followers                     1263
timestamp                     1263
source                        1263
retweeted_status_id              0
retweeted_status_user_id         0
retweeted_status_timestamp       0
expanded_urls                 1263
rating_numerator              1263
rating_denominator            1263
name                          1263
doggo                         1263
floofer                       1263
pupper                        1263
puppo                         1263
jpg_url                       1263
img_num                       1263
p1                            1263
p1_conf                       1263
p1_dog                        1263
p2                            1263
p2_conf                       1263
p2_dog                        1263
p3                            1263
p3_conf                       1263
p3_dog                        1263
dog_stages                    1263
dtype: int64

#### Test

### Issue #5:
#### Define:  There are erroneous data types assigned to the numerical columns

#### Code

#### Test

### Issue #6:
#### Define:  There are erroneous data types assigned to the numerical columns

#### Code

#### Test

### Issue #7:
#### Define:  There are erroneous data types assigned to the numerical columns

#### Code

#### Test

### Issue #8:
#### Define:  There are erroneous data types assigned to the numerical columns

#### Code

#### Test

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

### Insights:
1.

2.

3.

### Visualization